
<header>
    <div class="main">
        <div class="header">
        <h1 style="background-color: white; height: 50px;">heathers Osborn Art</h1>
    </div>
    <div class="main">
        <div class="mx-3">
            <i class="font fa fa-volume-control-phone" aria-hidden="true"></i>
        </div>
        <div>
            <h5 style="margin-right: 100px;">Telephone</h5>
        <p style="margin-left:5px">6360624481</p>
        </div>
        <div class="mx-3">
            <i class="fontEmail fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div>
            <h5 style="margin-right: 100px;">Email Address</h5>
        <p style="margin-left:5px">ashokkumarnc55@gmail.com</p>
        </div>
    </div>
    </div>	
    </header>
            <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml.-auto mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/favorite">AboutUs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/service">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/gallery">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/testimonials">Testimonials</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="contact">ContactUs</a>
                  </li>
                </ul>
                <div class="d-flex">
                  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Book Now</button>
                </div>
              </div>
            </div>
          </nav>

          <!-- modallll -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
        <button type="button" #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="buton btn-primary mx-2" (click)="closeModalButton()">Save</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>