.main {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 100px;
    margin-right: 100px;
    padding-top: 10px;
  }
  nav {
    /* position: fixed; */
    /* margin-bottom: 100px; */
    background-color: #252524;
    /* background-image: linear-gradient(to right, black, black); */
    top: 0px;
    width: 100%;
    border-left: 2px solid white;
    height: 70px;
    z-index: 1;
  }
  .navbar-nav .nav-link {
    color: white;
    font-size: 1.2em;
  }
  .navbar-nav .nav-link.active {
    color: rgb(26, 243, 26);
  }
  .header{
    margin-top: 10px;
    margin-left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: green
  }
  .font{
    font-size: 40px;
    color: rgb(13, 233, 13);
  }
  .fontEmail{
    font-size: 40px;
    color: rgb(17, 226, 17);
  }
  .btn{
    margin-left: 500px;
    height: 70px;
    width: 200px;
    background-color: rgb(5, 221, 5);
  }
  .nav-item{
    margin-left: 30px;
  }
  .navbar-nav{
    margin-left: 50px;
  }