<div class="image">

</div>
<div class="twoCards" style="margin-left: 25%;position: relative;top: -50px;background-color: white;">
    <div class="rightDiv" style="border: 1px solid grey;">
        <h5 style="text-align: center;margin-top: 40px;color: rgb(14, 236, 14)">EVERY THING ART,ALL THE TIME</h5>
        <h1 style="text-align: center;">Heather Osborn Art</h1>
        <p style="padding: 10px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit possimus saepe
            aperiam iure
            expedita praesentium eveniet esse porro, quis temporibus, laudantium veritatis enim? Aliquid
            assumenda modi eveniet, temporibus excepturi nemo?</p>
        <h5 style="margin-left: 200px;"><a href="#" style="text-decoration: none;">Read more></a></h5>
    </div>
    <div class="rightDiv" id="image">
    </div>
</div>
<!-- gdxfhcgjvhbjxcvbn -->
<div class="d-flex justify-content-between sideContent">
    <div class="mapImage"><img src="../../assets/googlemap.png" alt="" style="width: 50px;height: 50px;"></div>
    <div class=" innerContent">

        <h5 style="text-align: center;">Art Inspiration</h5>
        <p style="padding: 10px;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem quisquam
        </p>
    </div>
    <div class="mapImage"><img src="../../assets/images.jpg" alt="" style="width: 50px;height: 50px;"></div>

    <div class=" innerContent">
        <h5 style="text-align: center;">Creative Health</h5>
        <p style="padding: 10px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem quisquam
        </p>
    </div>
    <div class="mapImage"><img
            src="../../assets/png-clipart-computer-icons-avatar-user-profile-man-avatars-logo-monochrome.png" alt=""
            style="width: 50px;height: 50px;"></div>
    <div class="innerContent">
        <h5 style="text-align: center;">My Art Journey</h5>
        <p style="padding: 10px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem quisquam
        </p>
    </div>
</div>

<!-- fzdgxfhcgjvhbjcxvb -->
<div class=" container-fluid row background">
    <div class="col-md-4" style="margin: auto;color: white;">
        <h6 style="color: rgb(13, 240, 13);"> COLOR IS MY DAY LONG ABSETION JOY AND TORMENT</h6>
        <h4>About Me</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, fuga voluptatem consectetur eius, dolor
            sunt vitae cupiditate
            incidunt dolorem officiis totam iusto reiciendis odit qui soluta? Nobis vel suscipit accusamus?</p>
    </div>
    <div class="col-md-4" id="girl" style="margin: auto;">

    </div>
    <div class="col-md-4" style="margin: auto;">
        <button style="background-color: rgb(12, 216, 12);" class="btn btn-success">Read More</button>
    </div>

</div>
<!-- gdfghjkl; -->
<div style="text-align: center;margin-top: 60px;">
    <h5 style="color: rgb(14, 202, 14);">RECENT ACTIVITY</h5>
    <h1>Gallery</h1>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex justify-content-between">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
            </div>

        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-between">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
            </div>

        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-between">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
                <img class="d-block"
                    src="../../assets/24369275-concept-of-creative-business-with-businessman-working-with-laptop.webp"
                    alt="Third slide">
            </div>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div style="margin: auto;height: 150px;width: 150px;">
    <button class="btn btn-success">View More</button>
</div>

<!-- fdfghjkl; -->
<div class="opacity">
    <h4 style="color: rgb(12, 238, 12);text-align: center; padding-top: 10px;">Spreading Colors of Joy</h4>
    <h2 style="color: white;text-align: center;">Services</h2>
    <div class="d-flex row" style="margin-left: 20%;">
        <div class="firstData">
            <h5 style="text-align: center;padding: 6px;">Work Shops</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus tenetur, molestiae fugiat
                asperiores quia eos voluptas voluptate ipsa, mollitia eligendi, incidunt excepturi suscipit
                esse.</p>
        </div>
        <div class="firstData">
            <h5 style="text-align: center;padding: 6px;">Events</h5>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus tenetur, molestiae fugiat
                asperiores quia eos voluptas voluptate ipsa, mollitia eligendi, incidunt excepturi suscipit
                esse.</p>
        </div>
        <div class="firstData">
            <h5 style="text-align: center;padding: 6px;">Theropy</h5>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus tenetur, molestiae fugiat
                asperiores quia eos voluptas voluptate ipsa, mollitia eligendi, incidunt excepturi suscipit
                esse.</p>
        </div>
        <div class="firstData">
            <h5 style="text-align: center;padding: 6px;">Corporate</h5>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus tenetur, molestiae fugiat
                asperiores quia eos voluptas voluptate ipsa, mollitia eligendi, incidunt excepturi suscipit
                esse.</p>
        </div>
    </div>
</div>
<!-- dfghjkl; -->
<div style="text-align: center;margin-top: 60px;">
    <h6 style="color: rgb(10, 224, 10);">WHAT CLIENTS SAYS</h6>
    <h2>Testimonials</h2>
</div>
<div class=" d-flex twoCards" style="margin: 7%;">
    <div class="displayCont">
        <h1>second</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia iste eius iure earum
            eveniet quae quo sit provident molestias perferendis, sed doloremque repellendus nisi nulla
            vitae expedita sunt facere?</p>
        <h6>Martin Caleb</h6>
    </div>
    <div class="displayCont">
        <h1>second</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia iste eius iure earum
            eveniet quae quo sit provident molestias perferendis, sed doloremque repellendus nisi nulla
            vitae expedita sunt facere?</p>
        <h6>Teena Venenda</h6>

    </div>
    <div class="displayCont">
        <h1>second</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia iste eius iure earum
            eveniet quae quo sit provident molestias perferendis, sed doloremque repellendus nisi nulla
            vitae expedita sunt facere?</p>
        <h6>John Martin</h6>

    </div>
</div>
<!-- dfghjkl -->
<footer>
    <div class="footer" style="text-align: center; padding-top: 20px;color: gray;">
        <p>CopyRight @2022 <span style="color: green;">heather Osborn Art</span>. All Rights Reserved | Designed and hosted By <span style="color: blue;">Ashokkumar NC</span> @ <span style="color: green;">Design Shore
            Technologies NZ Limited</span></p>

    </div>
</footer>

